body {
	background-color: #484848;
	color: #ffffff;
	text-shadow: 2px 2px 2px #333333;
}
a {
	color: #ffffff;
	text-decoration: underline;
}
h3, h4 {
	background-color: #333333;
	padding: 4px 8px;
}
div.content{
	margin: 0 auto;
	max-width: 40em;
}
fieldset {
	border: 2px solid #333333;
}
table {
	width: 100%;
	border-spacing: 0px;
}
td {
	padding: 4px 8px;
	border-bottom: 2px solid #333333;
	border-right: 2px solid #333333;
	vertical-align: bottom;
}
