<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jwtc.android.chess"
    android:installLocation="auto"
    android:versionCode="197"
    android:versionName="9.3.15">

    <application
        android:name="android.app.Application"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/ChessTheme"
        android:banner="@drawable/ic_feature">
        <service android:name=".ics.ICSServer" android:exported="true"></service>
        <service android:name=".tools.ImportService" android:exported="true"></service>
        <activity
            android:name=".start"
            android:label="@string/app_name"
            android:theme="@style/ChessStart"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChessPreferences"
            android:label="@string/globalpreferences"
            android:configChanges="orientation"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start" />
        </activity>
        <activity
            android:name=".HtmlActivity"
            android:label="@string/app_name_help"
            android:configChanges="orientation"
            android:exported="true"></activity>
        <activity
            android:name=".activities.GlobalPreferencesActivity"
            android:label="@string/globalpreferences"
            android:configChanges="orientation"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start" />
        </activity>
        <activity
            android:name=".activities.BoardPreferencesActivity"
            android:label="@string/globalpreferences"
            android:configChanges="orientation"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.GamePreferenceActivity"
            android:label="@string/playpreferences"
            android:configChanges="orientation"
            android:exported="true"></activity>
        <activity
            android:name=".play.PlayActivity"
            android:label="@string/app_name_play"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-chess-pgn" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-chess-pgn" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-chess-fen" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start" />
        </activity>
        <activity
            android:name=".setup.SetupActivity"
            android:label="@string/app_name_setup"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-chess-fen" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".play.PlayActivity" />
        </activity>
        <activity
            android:name=".GamesListActivity"
            android:label="@string/app_name_save_games"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".play.PlayActivity" />
        </activity>
        <activity
            android:name="jwtc.android.chess.puzzle.PuzzleActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start" />
        </activity>
        <activity
            android:name="jwtc.android.chess.practice.PracticeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start" />
        </activity>
        <activity
            android:name="jwtc.android.chess.ics.ICSClient"
            android:label="@string/app_name_playonline"
            android:screenOrientation="locked"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start" />
        </activity>
        <activity
            android:name="jwtc.android.chess.ics.ICSPrefs"
            android:label="@string/preferences"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ics.ICSClient" />
        </activity>
        <activity
            android:name="jwtc.android.chess.ics.CustomCommands"
            android:label="@string/preferences"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ics.ICSPrefs" />
        </activity>
        <activity
            android:name="jwtc.android.chess.tools.AdvancedActivity"
            android:label="@string/app_name_pgntools"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".start" />
        </activity>
        <activity
            android:name="jwtc.android.chess.tools.ImportActivity"
            android:label="@string/app_name_import"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-chess-pgn" />
            </intent-filter>
        </activity>
        <provider
            android:name=".helpers.MyPGNProvider"
            android:authorities="jwtc.android.chess.helpers.MyPGNProvider"
            android:exported="true" />
        <provider
            android:name=".puzzle.MyPuzzleProvider"
            android:authorities="jwtc.android.chess.puzzle.MyPuzzleProvider"
            android:exported="true" />
    </application>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FULLSCREEN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
</manifest>